.env
.env.local
.env.*.local

/vendor/
/node_modules/

/storage/app/*.sql
/storage/app/*.zip
/storage/app/*.tar
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*

/nasiyapro_db_*.sql
/nasiyapro_db_*.zip
/nasiyapro_app_*.zip

*.log
*.cache
/public/storage
